<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="header-container">
                <h1>台北一日遊</h1>
                <nav class="header-navbar">
                    <ul>
                        <li><a href="#">預定行程</a></li>
                        <li><a href="#">登入/註冊</a></li>
                    </ul>
                </nav>
            </div>
        </div>
         <div class="occupy-fixed-height"></div>
    </header>

    <main>{% block main %}{% endblock %}</main>

    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

    {% block script %}{% endblock %}
</body>
</html>