{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/thankyou.css')}}" />
{% endblock %} {% block title %}台北一日遊 - 感謝訂購{% endblock %} {% block main %}
<div class="main-container hide-before-log-in" id="main">
  <div class="has-order">
    <section class="title">
      <h2 class="button-reg thank-you">行程預定成功，非常感謝您的訂購！</h2>
      <h2 class="button-bold order-num">訂單編號： <span id="orderNum">1622286732</span></h2>
      <span class="body-reg remember">（ 請記住此編號，或到會員中心查詢歷史訂單 )</span>
    </section>
    <section class="order-attraction" id="attraction-info"></section>
    <section class="contact">
      <h2 class="button- bold">您的聯絡資訊</h2>
      <article class="contact-info">
        <p class="body-reg">聯絡姓名： <span id="contactName">彭彭</span></p>
        <p class="body-reg">電子信箱： <span id="contactEmail">test@gmail.com</span></p>
        <p class="body-reg">手機號碼： <span id="contactPhone">0928012345</span></p>
        <p class="body-bold reminder">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫。</p>
      </article>
    </section>
  </div>
  <div class="no-order hide">
    <p class="button-bold">此訂單編號不存在</p>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{url_for('static', filename='js/renderThankyou.js')}}"></script>
{% endblock %}
